# Ignore node_modules directory
node_modules/

# Ignore build output and compiled TypeScript files
/dist/
*.js
*.js.map

# Ignore editor-specific files and directories
.vscode/
.idea/

# Ignore system and temporary files
.DS_Store
Thumbs.db

# Ignore environment-specific configuration files
.env
