.search-box {
    padding: 25px;
    margin-bottom: 30px;
}
.search {
    display: flex;
    border: 1px solid #a1833b;
    border-radius: 20px;
    width: 40%;
    margin: auto;
    justify-content: center;
}

input {
    padding: 20px;
    width: 90%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    display: block;
    background-color: transparent;
    border-right: 2px solid #a1833b;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

input:focus {
    outline: none;
    background-color: transparent;
}

::placeholder {
    color: rgb(82, 56, 6) !important;
    opacity: 0.5;
}

.search-button {
    background-color: transparent;
    color: white;
    background-color: #a1833b;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 20px 20px;
    font-family: "Montserrat", sans-serif;
    border-radius: 0px 18px 18px 0px;
}

.search-button:hover {
    background-color: rgb(82, 56, 6);
    object-fit: fill;
    color: white;
}

.no-book {
    width: 700px;
    height: 200px;
    border: 1px solid rgb(82, 56, 6);
    display: flex;
    justify-content: center;
    margin: auto;
}

.no-book p {
    justify-content: center;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 80px;
    justify-content: center;
    column-rule: 10px solid #302d18;
    padding-bottom: 30px;
}

.book {
    position: relative;
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    transform-style: preserve-3d;
    -webkit-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

img {
    width: 200px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
}

.book-author {
    height: 30px;
    padding: 14px;
    margin: 0px;
    color: saddlebrown;
}

.book-buttons {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.book-buttons button {
    color: rgb(233, 217, 217);
    background-color: #a1833b !important;
    border: none;
    cursor: pointer;
    padding: 10px 9px;
    margin: 0.5px;
    border: 1px solid a1833b;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

.go-to-search {
    display: flex;
    justify-content: center;
    background-color: #a1833b;
    width: 50%;
    margin: auto;
    padding: 20px;
    color: rgb(233, 217, 217);
}

@media (max-width: 600px) {
    .book-grid {
        grid-template-columns: repeat(2, 150px);
    }
}

@media (max-width: 500px) {
    .book-grid {
        grid-template-columns: repeat(1, 150px);
        margin: auto;
    }

    .search {
        width: 100% !important;
    }
}

